.leaflet-bottom, .leaflet-control {
    z-index: 0
}

.map-menu {
    width:1100px;
    height: 140px;
    border-top: 1px solid #d8d7d3;
    border-bottom: 1px solid #e3e2de;
    background: #fff;
    box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, .07);
    overflow: hidden;
    position: relative
}

 .zoom-control {
    height: 24px;
    padding: 8px 0;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.zoom-in, .zoom-out {
    float: left;
    width: 29px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer
}

.zoom-out {
    border-left: 1px solid #edece9
}

.auto-zoom {
    float: left;
    width: 100px;
    border-left: 1px solid #edece9;
    padding-left: 8px;
    line-height: 24px;
    font-size: 10px;
    color: #2c3032;
    height: 24px
}

.auto-zoom input {
    vertical-align: 1px
}

.map-menu-right {
    width: 340px;
    float: right;
    border-left: 1px solid #edece9;
    height: 40px;
    line-height: 40px
}
.map-menu-right label {
    font-size: 10px;
    color: #2c3032;
    font-weight: 400;
    margin-bottom: 0;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

 .show-trip-events {
    margin-left: 8px;
    margin-right: 3px;
    font-size: 12px;
    vertical-align: -1px
}

.trip-events {
    float: right;
    padding: 7px;
    width: 285px
}

.event > div:after {
    margin-left: 8px;
    width: 51px
}

.hard-brake-icon {
    background: #d173eb
}

.hard-accel-icon, .hard-brake-icon {
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .16)
}

.hard-accel-icon {
    background: #fad97b
}