<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>detect</title>
    <!--jquery-->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

    <!--css style-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/buttons.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
    <link rel="stylesheet" href="css/map_menu.css">
    <link href="css/jquery-accordion-menu.css" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="css/jquery-accordion-menu.css" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="css/style_h.css" media="screen"/>
    <link rel="stylesheet" href="css/cikonss.css"/>

    <link href="ucb/common/css/angular-material.min.css" rel="stylesheet">
    <link href="ucb/common/css/zh.css" rel="stylesheet">
    <link href="ucb/css/ucb.css" rel="stylesheet">
    <script src="ucb/common/js/angular.min.js"></script>
    <script src="ucb/common/js/angular-aria.min.js"></script>
    <script src="ucb/common/js/angular-animate.min.js"></script>
    <script src="ucb/common/js/angular-material.min.js"></script>
    <script src="ucb/common/js/jquery.cookie.min.js"></script>
    <!--<script src="ucb/js/jquery.idTabs.min.js"></script>-->
    <script src="ucb/js/bin.js"></script>

    <!--bootstrap-->
    <link href="bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="js/bootstrap.js"></script>
    <script src="js/Chart.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6jdo4O4ZUTy5abPxdmPn49vkV4WcLRYM"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <script src="js/main.js"></script> <!-- Resource jQuery -->
    <script type="text/javascript" src="js/buttons.js"></script>

    <script src="js/jquery-accordion-menu.js" type="text/javascript"></script>


    <!--datetimepicker-->
    <script type="text/javascript" src="bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <style type="text/css">
        * {
            margin: 0;
            padding-bottom: 0;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
        }
        .right-column {
            width: 265px;
            float: right;
            z-index: 1;
            position: relative;
            margin-top:50px;
        }


        .left-column {
            width: 100%;
            float: left;
            z-index: 1;
            position: relative;
        }

        .main-container {
            min-width: 100%;
            min-height: 600px;
            margin-top:0px;
            clear: both;
        }



        #map {
            width: 100%;
            height:600px;
        }

        .wraper {
            background: rgba(245, 244, 241, 0.75);
            width: 1100px;
            height: 100px;
            position:fixed;
        }

        #demo-list a {
            overflow: hidden;
            /*text-overflow:ellipsis;*/
            -o-text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
        .dashBoardItem.active{
            background-color:rgb(84, 84, 84);
        }
        .dashBoardItem{
            position: relative;
            float: left;
            height: 40px;
            width: 60px;
            border-right: 1px solid #f7f7f7;
            background-color:rgb(255, 255, 255);
        }
        .dashBoardItem>div{
            padding-top: 6px;
            width: 28px;
            height: 100%;
            margin: 0 auto;
            cursor: pointer;
        }
        .dashBoardItem img {
            width: 28px;
            height: 28px;
        }

    </style>
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-inverse" style="background-color:#4ab4f0">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:white;">E&Police</a>
        </div>
            <div class="btn-group" style="float:right;margin-top: 10px">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    China <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">China-Beijng</a></li>
                    <li><a href="#">England-London</a></li>
                    <li><a href="#">Africa</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Other Countries</a></li>
                </ul>
            </div>
            <!--timepicker-->
            <div style="position:absolute;left:55%;top:10px;height:20px;width:200px">
                <div class="dropdown" style="margin-right:70px ;float:right;width: 176px;">
                    <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd"
                         style="width:200px;background-color:rgba(0,0,0,0.6);margin-left:0px;">
                    <input id="selectedTime" class="form-control" style=" height:30px" size="16" type="text" value="2016-03-01"
                           readonly onChange="dateChange()">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <input type="hidden" id="dtp_input2" value="" style="color:#000"/><br/>
            </div>
        </div><!-- /.nav-collapse -->

    </div><!-- /.container -->
</nav><!-- /.navbar -->


<div>

    <div>
        <!--<div class="right-column">-->
            <!--<div style="background-color:rgb(254,209,78);height:50px;width:265px">-->
                    <!--<div style="background-color:white;height:48px;">-->
                        <!--<div style="float:right">-->
                            <!--<div id="dateDiv" style="height:10px;margin-top:0px;height:15px">-->
                                <!--<p style="font-size:18px;color:#000000;">2016-03-01</p>-->
                            <!--</div>-->
                            <!--<div id="timediv" style="height:10px;margin-top:5px;margin-bottom:5px;font-size:18px;">-->
                                <!--<p style="font-size:18px;color:#000000;">00:00</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div ng-app="ucb" ng-controller="AppCtrl" layout="row" style="height:100%;width:265px">&ndash;&gt;-->
            <!--&lt;!&ndash;<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-content class="idTabs">&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button ng-click="close()" href="#map" class="menu-btn" style="width:265px"> 实时监测 </md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button ng-click="do_p()" href="#around" class="menu-btn" style="width:265px"> 预警提示发布 </md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button ng-click="do_f()" href="#friends" class="menu-btn" style="width:265px"> 巡警调度 </md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button ng-click="do_f()" href="#friends" class="menu-btn" style="width:265px"> 统计分析 </md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
                    <!--&lt;!&ndash;<md-button class="menu-btn" style="width:265px">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;message&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="jquery-accordion-menu-footer">&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<div id="dateDiv" style="height:10px;margin-top:0px;height:15px">&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<p style="font-size:18px;color:#000000;text-align:center">2016-03-01</p>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<div id="timediv" style="height:10px;margin-top:5px;margin-bottom:5px;font-size:18px;">&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<p style="font-size:18px;color:#000000;text-align:center">00:00</p>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;<div style="margin-top:40px;">&ndash;&gt;-->
                                <!--&lt;!&ndash;<md-divider style="margin-bottom: 10px;"></md-divider>&ndash;&gt;-->
                                <!--&lt;!&ndash;<dl style="color: #000000; text-align: center">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<dt><strong><p style="font-size:15px; ">人群聚集疏散情况</p></strong></dt>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<dd>轻度: <40%</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<dd>中度：40%-80%</dd>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<dd>重度：>80%</dd>&ndash;&gt;-->
                                <!--&lt;!&ndash;</dl>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->


                    <!--&lt;!&ndash;</md-button>&ndash;&gt;-->

                <!--&lt;!&ndash;</md-content>&ndash;&gt;-->
            <!--&lt;!&ndash;</md-sidenav>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->
        <div class="left-column">
            <!--Dash Board Start-->
            <div id="dashBoard" style="position:absolute; top:105px; left: 60px;">
                <div id="dashBoardHand" class="dashBoardItem active" title="Clear All">
                    <div>
                        <img src="img/hand_2.png" />
                    </div>
                </div>
                <div id="dashBoardPredict" class="dashBoardItem" title="Predict">
                    <div>
                        <img src="img/predict_1.png" style="height:40px;width:59px;top:0px;left:0px;position:absolute" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--Dash Board End-->

            <div class="main-container">
                <div id="map">
                </div>
                <div class="map-menu">
                    <div class="zoom-control">
                        <div class="zoom-in">+</div>
                        <div class="zoom-out">-</div>

                    </div>
                    <div class="menu-right" style="height: 40px;">
                        <label>View</label>
                    </div>
                    <div class="wraper">
                        <div style="width:125px;margin-top:10px;float:left;">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-default" onclick="allDay();">日变化情况</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" onclick="weekChange();">周变化情况</a></li>
                                    <li><a href="#" onclick="weekChange();">返回全局视图</a></li>
                                </ul>
                            </div>

                            <div class="btn-group" role="group" style="margin-top: 10px">
                                <button type="button" class="btn btn-default">开</button>
                                <button type="button" class="btn btn-default" onclick="playPause(); ">关</button>
                                <div id="switch" style="height:5px;width:5px;">
                                    <a href="#" onclick="playPause();"><img id="btn" src="img/play.png"></a>
                                </div>
                            </div>

                        </div>
                        <div style="width:560px;height:100px;margin-right:400px;float:right;margin-top:5px;margin-bottom:10px;background-color:#faf9f7;">
                            <!--slider-->
                            <div style="position:relative;height:5px;margin-left:30px">
                                <a href="#">
                                    <div id="drag"
                                         style="margin-top:5px;background-color:#4ab4f0;width:5px;height:70px;border-radius:4px"
                                         onmouseover='Move_obj("drag")' readonlyonChange="timeComtrol()">
                                    </div>
                                </a>
                            </div>
                            <script language="JavaScript" type="text/javascript">
                                var drag_ = false;
                                var D = new Function('obj', 'return document.getElementById(obj);');
                                var event = window.event || event;
                                function Move_obj(obj) {
                                    var x, y;
                                    D(obj).onmousedown = function (event) {
                                        drag_ = true;
                                        with (this) {
                                            style.position = "absolute";
                                            var temp1 = offsetLeft;
                                            var temp2 = offsetTop;
                                            x = event.clientX;
                                            y = event.clientY;
                                            onmousemove = function (event) {
                                                if (!drag_)return false;
                                                with (this) {
                                                    var move_x = temp1 + event.clientX - x;
                                                    style.left = move_x < 780 ? move_x + "px" : 0 + "px";
                                                    var a = temp1;
                                                    innerHTML = temp1 + ' ';//+event.clientX+' '+x+'<br />'+move_x;
                                                    //style.top=temp2+oevent(e).clientY-y+"px";
                                                }
                                            }
                                        }
                                        document.onmouseup = new Function("drag_=false");
                                    }
                                }

                            </script>
                            <script type="text/javascript" src="js/data.js"></script>
                            <script type="text/javascript" src="js/allday.js"></script>
                            <canvas id="canvas" style="width:560px;height:100px"></canvas>


                        </div>




                    </div>

                </div>
            </div>


        </div>

    </div>


</div>

<!--bottom-->

</body>
</html>


<script type="text/javascript">
    function dateChange() {

        var ctx = document.getElementById("selectedTime").value;
        date = ctx;
        hour = 0;
        group = 1;
        console.log(ctx + " " + date);
        $("#dateDiv").html(ctx);

    }
</script>


<script type="text/javascript">
    $('.form_date').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

</script>


<script type="text/javascript">

    function theLocation() {
        map.centerAndZoom("上海", 12);
    }
    function theLocation1() {
        map.centerAndZoom("杨浦区", 14);
    }
    function theLocation2() {
        map.centerAndZoom("浦东新区", 14);
    }
    function theLocation3() {
        map.centerAndZoom("静安区", 14);
    }
    function theLocation4() {
        map.centerAndZoom("长宁区", 14);
    }
    function theLocation5() {
        map.centerAndZoom("虹口区", 14);
    }
    function theLocation6() {
        map.centerAndZoom("普陀区", 14);
    }

</script>
<script type="text/javascript">
    (function ($) {
        $.expr[":"].Contains = function (a, i, m) {
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
        };
        function filterList(header, list) {
            //@header 头部元素
            //@list 无需列表
            //创建一个搜素表单
            var form = $("<form>").attr({
                "class": "filterform",
                action: "#"
            }), input = $("<input>").attr({
                "class": "filterinput",
                type: "text"
            });
            $(form).append(input).appendTo(header);
            $(input).change(function () {
                var filter = $(this).val();
                if (filter) {
                    $matches = $(list).find("a:Contains(" + filter + ")").parent();
                    $("li", list).not($matches).slideUp();
                    $matches.slideDown();
                } else {
                    $(list).find("li").slideDown();
                }
                return false;
            }).keyup(function () {
                $(this).change();
            });
        }

        $(function () {
            filterList($("#form"), $("#demo-list"));
        });
    })(jQuery);
</script>

<script type="text/javascript">
    jQuery("#jquery-accordion-menu").jqueryAccordionMenu();

</script>
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("btn").click();
        allDay();
    });
</script>

<script type="text/javascript">
    function playPause() {
        if (btn.src.search("img/play.png") != -1) {
            btn.src = "img/pause.png";
            start();

        }
        else {
            btn.src = "img/play.png";
            pause();
        }
    }
</script>